<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SwapIt - Admin Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
</head>
<body>

    {% include 'message.html' %}
    <section class="registration-section">
        <div class="container">
            <h1 class="swap-text">
                <span class="swap-green">Swap</span> <span class="it-black">It</span>
            </h1>
            <h2>Přihlášení do administrace</h2>

            <!-- Použití Flask-WTF Formuláře -->
            <form method="POST" action="{{ url_for('admin_bp.admin_dashboard') }}">
                {{ form.hidden_tag() }}
                <div class="mb-3">
                    {{ form.access_password.label }}
                    {{ form.access_password(class="form-control", id="password", placeholder="Heslo") }}
                </div>
                <div class="mb-3">
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </form>

        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/message.js') }}"></script>
</body>
</html>
